.home-page-container {
  padding: 20px;
}

.add-question-btn {
  background-color: #1718ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.add-question-btn span {
  display: inline-block;
  opacity: 0;
  transform: translateY(10px);
}
@media (max-width: 768px) {
  .home-page-container {
    padding: 15px;
  }

  .add-question-btn {
    width: 100%;
    padding: 12px 0;
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .home-page-container {
    padding: 10px;
  }

  .add-question-btn {
    width: 100%;
    padding: 14px 0;
    font-size: 20px;
  }
}
