/* Base Styles */
.home-page-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.add-question-btn {
  background-color: #1718ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

/* Text animation on hover */
.add-question-btn span {
  display: inline-block;
  opacity: 0;
  transform: translateY(10px);
  animation: textAnimation 0.5s forwards;
}

.add-question-btn:hover {
  background-color: #1718ff;
}

/* Animation for text to appear from bottom to top */
@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */

/* For tablets and smaller screens */
@media (max-width: 768px) {
  .home-page-container {
    padding: 15px;
  }

  .add-question-btn {
    width: 100%;
    padding: 12px 0;
    font-size: 18px;
  }
}

/* For mobile screens and below */
@media (max-width: 480px) {
  .home-page-container {
    padding: 10px;
  }

  .add-question-btn {
    width: 100%;
    padding: 14px 0;
    font-size: 20px;
  }
}
